.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.popular {
    margin: 40px;
    margin-top: 75px;
    margin-bottom: 60px;
}

.popP {
    width: 20%;
}

.popP > img {
    border-radius: 5px;
    width: 100%;
    height: 205px
}

.popTitle {
    font-size: 18px;
    font-weight: bold;
}

.popular > h2 {
    font-size: 30px;
}
