
    .home {
        display: flex;
        flex: 1;
        height: auto;
        background-image: url('https://i.pinimg.com/originals/9f/0b/2f/9f0b2f1a33b6f4f4ec157152337ea296.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }

    .sections {
        display: flex;
        margin: 30px;
        background-color: white;
        max-width: 66%;
        max-height: auto;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ep {
        display: flex;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin: 40px;
        max-width: 1400px;
    }

    .epTitle {
        width: 46%;
        margin-left: 1px;
    }

    .imgOne > img {
        max-width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
    }

    .imgOne {
        margin-top: 10px;
        max-width: 22%;
        height: auto;
    }

    .sec1, .sec2 {
        display: flex;
        justify-content: space-evenly;
    }

    .sec2 {
        margin-top: 15px;
    }
