.primary-cart-container {
    padding-left: 40px;
}

.empty-cart-message{
    padding-top: 30px;
}

.products-and-checkout-container {
    display: flex

}

.sellerId-container{
    font-size: 18px;
    font-style: italic;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.products-only-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
    width: fit-content;
}


.each-cart-item-container{
    height: 550px;
    width: 600px;
    border: 1px solid #52057B;;
    border-radius: 5px;
}


.image-title-price-container{
    display: grid;
    grid-template-columns: 2fr 4fr;
    height: 200px;
    padding-left: 20px;
}

.cart-product-image {
    height: 220px;
    width: 180px;
    border-radius: 5px;
}

.name-blurb-cost-quantity{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 60px;
}

.name-description{
    display: grid;
    grid-template-rows: 1fr 3fr;
    text-decoration: none;
}

.items-link{
    text-decoration: none;
    cursor: pointer;

}

.item-description{
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
}

.price-how-many-is-left{
    text-align: right;
    padding-right: 20px;

}


.quantity-input{
    width:35px;
}

.remove-save{
    display:flex;
    flex-direction: column;
    width:100px;
    height: 50px;
    text-decoration: none;
    font-size: 13px;
    padding-top: 30px;

    padding-left: 50px;
    text-align: center;

}

#remove-save-button {
    width: 100px;
    height:80px;
    font-size: 13px;
}

.remove-save-button:hover {
    background-color: grey;
    border-radius: 50%; /* Make it an oval shape */
    cursor: pointer; /* Change the pointer to a hand cursor */
}


.note-and-delivery{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;

}

.add-note:hover{
    cursor: pointer; /* Change the pointer to a hand cursor */

}

.est-delivery{
    font-size: 13px;
    color: rgb(125, 123, 123);
}

.gift-coupon{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;

}

.gift-toggle{
    display: flex;
}

.gift-order-blurb{
    font-size: 13px;
    color: rgb(125, 123, 123);
}

.coupon:hover {
    cursor: pointer; /* Change the pointer to a hand cursor */
}


.checkout-button-container{
    width: 100%;
    text-align: center;
    padding-top: 30%;
    /* position: fixed; */
    left: 350px;
    bottom: 350px;
}


/* actual proceed to checkout button css taken from product page */
