.home > img {
    width: 150px;
    height: 150px
}

.searchResults {
    display: flex;
    justify-content: center;
    gap: 40px
}

.result > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cap {
    display: flex;
    justify-content: center;
}

.slideshow {
    height: 400px;
    width: 94%;
    padding-left: 40px;

}
