/* img {
    height: 200px;
    width: 200px;
} */

#test-img {
    height: 50px;
    width: 50px;
}

#favorites__main-container {
    display: flex;
    flex-direction: column;
}

#user-details__container {
    display: flex;
    justify-content: space-between;
}

#user-options {
    display: flex;
    margin: 10px;
}

#user-sales {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#user-search-favorites__container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#user-favorites__container {
    display: flex;
}

#favorite-product {
    flex-basis: 25%;
    margin: 10px 10px;
}
/** SEARCH BAR  */
#search-favorites {
    width: 82%;
    height: 48px;
    border-radius: 24px;
    border: 2px solid black;
    padding-left: 20px;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
  }

#user-favorites__count {
    flex-basis: 49%;
}

#user-favorites__search {
    display: flex;
    flex-basis: 49%;
    justify-content: center;
    align-items: center;
}

.fa-magnifying-glass {
    font-size: 23px;
}

/* This positions the search-icon over the search bar input */
#search-button {
    position: absolute;
    right: 7%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
